<!--Section: Products v.4-->
<section class="pb-3 text-center p-5">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="http://ajandeco.ir/gzonecontent/uploads/2019/05/V9A5034-1-copy-1-255x177.jpg" alt=""></mdb-card-img>
          <div class="alpa bg-light">
            <a>
              <p>
                بلوک دیواری TC-20
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="http://ajandeco.ir/gzonecontent/uploads/2019/05/V9A5014-1-copy-255x177.jpg" alt=""></mdb-card-img>
          <div class="alpa bg-light">
            <a>
              <p>
                آجر نما N-55
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="http://ajandeco.ir/gzonecontent/uploads/2019/06/photo_2018-09-04_10-25-33-255x177.jpg" alt=""></mdb-card-img>
          <div class="alpa bg-light">
            <a>
              <p>
                بلوک دیواری TC-8
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="http://ajandeco.ir/gzonecontent/uploads/2019/05/V9A5034-1-copy-255x177.jpg" alt=""></mdb-card-img>
          <div class="alpa bg-light">
            <a>
              <p>
                بلوک دیواری TC-13/5
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

</section>
