<div class="d-flex flex-column">
    
    <div class="top-1">
        <div class="d-flex">
            <div class="mr-auto">
                <img class="img" src="../../../assets/Logo1.png" alt="notFound">
            </div>
            <div class="search">
                <div class="input-group">
                    <input type="text" class="text-white rtl border border-0" placeholder="جستجو در محصولات ...">
                    <div class="input-group-append">
                        <button class="btn" type="button">
                          <img class="img-2" src="../../../assets/icons8-search-50.png" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul id="main_menu">
            <li class="main_list"><a href="">محصولات زیبایی<i class="icon"></i></a>
                <ul>
                    <ol>
                        <a class="mmmk" href="">
                            <li>نام دسته۱</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۱</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۲</li>
                        </a>
                    </ol>
                    <ol>
                        <a class="mmmk" href="">
                            <li>نام دسته</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۱</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۲</li>
                        </a>
                    </ol>
                </ul>
            </li>
            <li class="main_list"><a href="">محصولات بهداشتی<i class="icon"></i></a>
                <ul>
                    <ol>
                        <a class="mmmk" href="">
                            <li>نام دسته۱</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۱</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۲</li>
                        </a>
                    </ol>
                    <ol>
                        <a class="mmmk" href="">
                            <li>نام دسته</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۱</li>
                        </a>
                        <a href="">
                            <li class="main_list2">آیتم ۲</li>
                        </a>
                    </ol>
                </ul>
            </li>
        </ul>        
    </div>
</div>
